*{
    box-sizing: border-box;
}

.app{
    margin: 0;
    
}
.first-block{
    
    height: 1200px;
    padding: 0;
    margin-top: 0;
    background-image: url("../img/firstbg.png");
  background-repeat: no-repeat;
  background-size: auto;
  
}

.head {
    display: flex;
    margin: 0px 84px 0px 85px;
    padding-top: 58px;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.01em;
text-transform: capitalize;
color: #FFFFFF;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    
}
ul li a{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}
a{
    text-decoration: none;
}
.search_btn{
    display: flex;
    justify-content: space-between;
   width: 230px;
   align-items: center;
}
.search_btn img{
    width: 14px;
    height: 14px;
}
.search_btn input {
    background: transparent;
    border: none;
   
}
.search_btn ::placeholder {

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;

color: #C0C0C0;
}
section1{
    display: flex;
    flex-direction: row;
    width: 100%;
  height: 700px;
  margin-top: 198px;
}
.leftbar p{
    
    width: 25px;
    height: 130px;
}
.leftbar{
    width: 25px;
    display: inline-block;
   flex-direction: column;
    height: 214px;
    justify-content: space-between;
     
}
.leftbar .inst{
    width: 20px;
    height: auto;
}
.leftbar .fb{
    width: 11px;
    height: 23px;
}
.leftbar .twit{
    width: 20.92px;
    height: 17px;
}
.leftbar p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
transform: rotate(90deg);
}
.discover{
    margin-left: 396px;
}
.discover p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
letter-spacing: 6px;
text-transform: uppercase;
color: #FFC178;
}
.discover p::after{
    content: "";
    width: 20px;
    height: auto;
    display: inline-block;
    background-image: url("../img/line.png");
    
}
.discover h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100px;
/* or 104% */

text-transform: capitalize;

/* Weiß */

color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 0;
}
.discover h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    color: #FFFFFF; 
    text-transform: capitalize;
    margin:0;
}