*{
    box-sizing: border-box;
}
.first-block{
    position: relative;
    background-image: url("../img/firstbg.png");
    height: auto;
}
/* .first-block img{
    width: 100%;
    height: 1200px;
    margin-top: 0;
} */