*{
    box-sizing: border-box;
}

.app{
    margin: 0;
    
}
.first-block{
    
    height: 1200px;
    padding: 0;
    margin-top: 0;
    background-image: url("../img/firstbg.png");
  background-repeat: no-repeat;
  background-size: auto;
  
}

.head {
    display: flex;
    margin: 0px 84px 0px 85px;
    padding-top: 58px;
    justify-content: space-between;
    align-items: center;
}
.head h1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.01em;
text-transform: capitalize;
color: #FFFFFF;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    
}
ul li a{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}
a{
    text-decoration: none;
}
.search_btn{
    display: flex;
    justify-content: space-between;
   width: 230px;
   align-items: center;
}
.search_btn img{
    width: 14px;
    height: 14px;
}
.search_btn input {
    background: transparent;
    border: none;
   
}
.search_btn ::placeholder {

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;

color: #C0C0C0;
}
.leftbar{
    display: flex;
}
.leftbar p{
    transform: rotate(180deg);
}