*{
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    background-color: #242527;
    width: 100%;
    height: auto;
    padding: 40px;
    padding-bottom:69px ;
 
}

.header{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.logo {
    display: inline-block;
    float: left;
    width: 300px;
    font-size: 48px; 
    font-weight: bold; 
    color: #E4F5FF;
    font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif;
font-style: normal;
font-weight: 400;
line-height: 37px;
background-image: url("../img/Vector_(2).png");
background-repeat: no-repeat;
background-size: auto;
background-position-x: 49px;
background-position-y: 9px;
margin: 0;
  }



  .logo p{
      width: 200px;
      margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E4F5FF;
    margin-left: 55px;
  }
   .menu {
       display: inline-block;
       float: right;
      
   }
   .menu ul{
       list-style-type: none;
       display: inline-block;
   }
   .menu li{
       display: inline-block;
   }
  .menu a{   
      color: #FBFCFF;
      
     
      text-decoration: none;
      
  }
  .menu li:last-child{
      border: 1px solid #E4F5FF;
      width: 144px;
      height: 53px;
      font-family: 'Clab';
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 25px;
  }
  .menu a:visited{
      color:#FBFCFF;
  }
  /* .menu a::after{
      background-image: url("../img/Vector_(2).png");
      background-size: auto;
  } */
  .menu ul li {
      background-image: url("../img/Vector_(2).png");
      background-position:  right;
      background-repeat: no-repeat;
      padding: 20px;
  }

  