*{
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
    margin-top:47px;
}
p{
    display: inline-block;
}
.first-block {
    text-align: left;
}
.second-block {
    float: right;
}
.first-photo {
    width: 18px;
    height: 23px;
}
.input-conteiner {
    width: 940px; 
    background-color: black;
   margin: 0 auto;
   margin-top:66px;
}