*{
    box-sizing: border-box;
}
.wrapper {

width: 940px;
padding-bottom: 65px;
padding-top: 66px;
margin: 0 auto;

}
header {
    display: inline-block;
}
.first-block {
   float: left;
   width: 37px;
   height: 37px;
}
.second-block {
        float: right;
}

.first-photo {
    width: 25px;
    height: 25px;
}
.second-photo{
    width: 25px;
    height: 20px;
    margin-left: 6px;
}
.input-conteiner { 
    background-color: black;
    margin-top: 43px;
    margin: 0 auto;

}