*{
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
}
p{
    display: inline-block;
}
.first-block {
    text-align: right;
}
.second-block {
    text-align: left;
    float: left;
}
.input-conteiner {
    width: 940px; 
    background-color: black;
   margin: 0 auto;
  
}