*{
    box-sizing: border-box;
}
.wrapper {

width: 874px;
padding-bottom: 47px;
padding-top: 47px;
}
header {
    display: inline-block;
}
.first-block {
    text-align: left;
}
.second-block {
        
        text-align: right;
}