*{
    box-sizing: border-box;
}
.wrapper {

width: 940px;
padding-bottom: 47px;
padding-top: 47px;
margin-top: 18px;
margin-bottom: 23px;
height: auto;
}
header {
    display: inline-block;
}
.first-block {
    text-align: left;
}
.second-block {
        text-align: right;
}