*{
    box-sizing: border-box;
}
body{
    background: #5959e4;
    font-family: 'Roboto', sans-serif;

}

.logo {
    display: inline-block;
    margin : 62px 103px;
    float: left;
}
.menu {
    float: right;
    display: inline-block;
    margin: 63px 45px;
    
}
.menu>a{
    text-decoration: none;
}
a:not(:last-of-type){
    margin-right: 60px;
}
.menu .about{
    margin-right:39px;
}