*{
    box-sizing: border-box;
}
body{
    background: #5959e4;

}

.logo {
    display: inline-block;
    margin : 62px 103px;
    float: left;
}
.menu {
    float: right;
    display: inline-block;
    margin: 63px 45px;
}
a:not(:last-child){
    margin-right: 60px;
}
a .about{
    margin-right:39px;
}